.thumbnail {
  height: 40px;
}

.background {
  background-color: #d0d0d0;
}

.navbarsearch {
  position: relative;
  width: 640px;
}
.navbarsearch input {
  border: none;
  background-color: #fff;
  width: 400px;
}
.navbarsearch img {
  position: absolute;
  top: 7px;
  left: 5px;
}
.padding {
  padding-left: 30px;
}

.post {
  background: aliceblue;
  position: absolute;
  padding-top: 10px;
  height: 400px;
  width: 800px;
  left: 500px;
  border: 1px solid #5d6063;
}

.center {
  position: relative;
}
